---
layout: default_lang
title: Educação Vigiada - About
lang: en
---

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="heading-observacao">About</h2>
		</div>
		<div class="col-md-8 col-sm-6">
            <p><b>Observatório Educação Vigiada</b> is an initiative by researchers of academia and of social organizations that aims to collect and disseminate information about the platformization of public education in Brazil and South America, and to encourage a debate in society regarding its social and educational impacts. It is part of the Open Education Initiative.</p>
            <p>The project was started because of thescarcity of information about the presence of large technology companies - especially those that profit through the collection, processing, and commercialization of user data on their digital platforms and services - in offering educational technologies and storage in data centers - to public educational institutions in Brazil, which hinders research efforts, public discussion about the risks, and the decisions of managers in regards to technology futures in institutions and school systems.</p>
            <p>To solve this problem, we created <a href="https://gitlab.com/ccsl-ufpa/get-mx-universities/">software</a> capable of identifying the storage location of the official e-mails servers of public educational institutions. Tus we can identify and map agreements made between these institutions and systems and these technology companies. The software went through a qualitative validation process through requests done via LAI (similar to FOIA in the United States).</P>
        </div>
        <div class="col-md-4 col-sm-6" align="center">
            <img src="{{ site.baseurl }}/assets/images/gafam-latam.png" />
        </div>
        <div class="col-12">
            <h2 class="heading-observacao">Project History</h2>
        </div>
        <div>
            <p>In 2019, with the help of the Derechos Digitales Foundation, we collected data from 244 email domains of public higher education institutions and state education systems in Brazil.</p>
            <p>In 2020, with internal funding from the Open Education Initiative, we mapped cities with more than 500,000 inhabitants in Brazil.</p>
            <p>In 2021, with the help of the Latin American Network of Studies on Surveillance, Technology and Society (LAVITS) and in cooperation with researchers from the Fundación InternetBolivia.org Grupo de Investigaciónen Ingeniería de Software y Nuevas Tecnologías - GISNET-FUTCO - Colombia and the UNESCO Chair in Open Education at the University of the Republic of Uruguay (UDELAR), we mapped 550 institutional email domains from 448 public higher education institutions in all South American countries.</p>
		</div>
	</div>
</div>
