---
layout: default_lang
title: Educação vigiada - Blog
lang: pt
pagination:
  enabled: true
---
<div class="container">
    <h2 class="heading-observacao">Educação Vigiada - Blog</h2>
    <p>Notícias do projeto e de temas relacionados. Acompanhe também via <a href="{{ site.baseurl }}/pt/blog/news.xml">Feed.</a></p>
    <ul class="list-unstyled">
    {% for post in paginator.posts %}
        <li>
            <div class="text">
            <b><a href="{{ site.url }}{{ site.base }}{{ post.url }}.html">{{ post.title }}</a></b> - <small>{{ post.date | date: "%d/%m/%Y" }}</small>
            {{ post.excerpt | markdownfy }} {% if post.content.size > post.excerpt.size %} <p><a href="{{ site.url }}{{ site.base }}{{ post.url }}.html">Leia o post completo</a>.</p> {% endif %}
            <p>
            <a href="{{ site.url }}{{ site.base }}{{ post.url }}.html" title="Link da notícia"><i class="fa-solid fa-link"></i></a>&nbsp;

            <a class="mastodon-share" href="#" data-title="{{ post.title }}" data-href="{{ site.url }}{{ site.base }}{{ post.url }}.html"><b><i class="fa-brands fa-mastodon"></i></b></a>&nbsp;

            <a href="https://twitter.com/intent/tweet?text={{ post.title }} {{ site.url }}{{ site.base }}{{ post.url }}.html" title="Compartilhe no Twitter" target="_blank"><b><i class="fa-brands fa-twitter"></i></b></a>&nbsp;

            <a href="https://t.me/share/url?url={{ site.url }}{{ site.base }}{{ post.url }}.html&text={{ post.title }}" title="Compartilhe no Telegram" target="_blank"><i class="fa-brands fa-telegram"></i></a>&nbsp;

            <a href="https://api.whatsapp.com/send?text={{ post.title }} {{ site.url }}{{ site.base }}{{ post.url }}.html" data-action="share/whatsapp/share" title="Compartilhe no Whatsapp" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>&nbsp;

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.base }}{{ post.url }}.html" title="Compartilhe no Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>&nbsp;

            <a href='mailto:?subject={{ post.title }}&body=Educação Vigiada - {{ post.title }}%0D%0A%0D%0AVeja em {{ site.url }}{{ site.base }}{{ post.url }}.html' title="Compartilhe por E-mail" target="_blank"><i class="fa-regular fa-envelope"></i></a>&nbsp;
            </p>
            </div>
            <hr>
        </li>
    {% endfor %}
    </ul>
    <!--<nav class="text-center">
    <ul class="pagination">
        {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path }}">
            <span>&laquo; Anteriores</span></a>
        </li>
        {% else %}
        <li class="disabled"><a href="#">
            <span>&laquo; Anteriores</span></a>
        </li>
        </li>
        {% endif %}
        {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path }}">
            <span>Recentes &raquo;</span></a>
        </li>
        {% else %}
        <li class="disabled"><a href="#">
            <span>Recentes &raquo;</span></a>
        </li>
        {% endif %}
    </ul>
    </nav>-->
</div>
