---
layout: default
title: Educação Vigiada
lang: pt
---

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
	<nav class="navbar navbar-expand-lg navbar-dark mb-auto"></nav>

	<main role="main" class="cover text-center">
		<img width="65%" src="{{ site.baseurl }}/assets/images/logo-educacao-vigiada.png" />
		<br>
		<p class="lead">Mapping Surveillance Capitalism in Education
		<br>Mapeo del Capitalismo de Vigilancia en la Educación
		<br>Mapeando o Capitalismo de Vigilância na Educação</p>
		<br>
		<div class="lead">
			<a href="{{ site.baseurl }}/en/about.html" class="btn btn-lg btn-outline-light btn-block"><img src="{{ site.baseurl }}/assets/images/bandeiras/estados-unidos.png" />   English</a>
			<a href="{{ site.baseurl }}/es/acerca.html" class="btn btn-lg btn-outline-light btn-block"><img src="{{ site.baseurl }}/assets/images/bandeiras/espanha.png" />   Español</a>
			<a href="{{ site.baseurl }}/pt/sobre.html" class="btn btn-lg btn-outline-light btn-block"><img src="{{ site.baseurl }}/assets/images/bandeiras/brasil.png" />   Português</a>
		</div>
	</main>
    <p />
	{% include footer.html %}	
</div>
