<footer class="footer text-center mt-auto py-3">
	<div class="container">
        <div class="row">
            <h5 class="text-left" style="color:#FFF">Realização</h5>
        </div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4"><a href="https://aberta.org.br/"><img src="{{ site.baseurl }}/assets/images/logos/iea_black-300x109.png" class="py-4" alt="Logo iniciativa educação aberta" /></a></div>
			<div class="col-12 col-md-6 col-lg-4"><a href="https://laes.ufpa.br"><img src="{{ site.baseurl }}/assets/images/logos/logo-laes-fundo-300x241.png" class="py-1" style="width: 200px;" alt="Logo laes" /></a></div>
			<div class="col-12 col-md-6 col-lg-4"><a href="https://ccsl.ufpa.br/"><img src="{{ site.baseurl }}/assets/images/logos/logo_ccsl-300x141.png" class="py-1" alt="Logo centro de software livre ufpa" /></a></div>
        </div>
        <br>
        <div class="row">
            <h5 class="text-left" style="color:#FFF">Apoio</h5>
        </div>
        <div class="row">
			<div class="col-12 col-md-6 col-lg-6"><a href="https://derechosdigitales.org/"><img src="{{ site.baseurl }}/assets/images/logos/logo_derechos-300x141.png" class="py-1" alt="Logo derechos digitales" /></a></div>
			<div class="col-12 col-md-6 col-lg-6 mx-md-auto mx-lg-0"><a href="https://lavits.org/"><img src="{{ site.baseurl }}/assets/images/logos/lavits.png" class="py-4" alt="Logo lavis" /></a></div>
		</div>
		<div>
			<p class="text-white mb-0 mt-3 mt-md-4">Se não indicado ao contrário, todo conteúdo está disponível sob licença <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" class="text-underline text-white">CC-BY 4.0</a></p>
		</div>
	</div>
</footer>
