<footer class="mt-auto text-center text-white">
	<div>
		<p>Se não indicado ao contrário, todo conteúdo está disponível sob licença <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" class="text-underline text-white">CC-BY 4.0</a>.</p>
	</div>
</footer>