{% if page.lang == "en" %}
{% assign initial_page = "/en/about.html" %}
{% elsif page.lang == "es" %}
{% assign initial_page = "/es/acerca.html" %}
{% else %}
{% assign initial_page = "/pt/sobre.html" %}
{% endif %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-light fixed-top navbar-lang">
	<div class="container">
		<a class="navbar-brand" href="{{ site.baseurl }}{{ initial_page }}"><img src="{{ site.baseurl }}/assets/images/edvig-small-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Observatório Educação Vigiada</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				{% for item in site.data.navegacao %}
					{% if item.tipo == page.lang %}
						{% if item.link != false %}
						<li class="nav-item">
							{% if page.url != "/pt/mapeamento/" %}
								{% assign tmp_url = item.link | append: ".html" %}
							{% else %}
								{% assign tmp_url = item.link | append: "/" %}
							{% endif %}

							{% if page.url == tmp_url %}
								<a class="nav-link active" href="{{ site.baseurl }}{{item.link}}">{{item.texto}}</a>
							{% else %}
								<a class="nav-link" href="{{ site.baseurl }}{{item.link}}">{{item.texto}}</a>
							{% endif %}
						</li>
						{% else %}
						<li class="nav-item dropdown">
							{% assign tmp_url2 = page.url | split: "/" %}

							{% if item.comparacao == tmp_url2[2] %}
								<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.texto }}</a>
							{% else %}
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.texto }}</a>
							{% endif %}
							<div class="dropdown-menu dropdown-menu-educacao" aria-labelledby="navbarDropdown">
								{% for drop in item.links %}
									<a class="dropdown-item" href="{{ site.baseurl }}{{ drop.link }}">{{ drop.texto }}</a>
								{% endfor %}
							</div>
						</li>
						{% endif %}
					{% endif %}
				{% endfor %}
				<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img width="15px" src="{{ site.baseurl }}/assets/images/globe.png" style="filter:invert(0.5)" />
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ site.baseurl }}/en/about.html"><img src="{{ site.baseurl }}/assets/images/bandeiras/estados-unidos.png" />   English</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/es/acerca.html"><img src="{{ site.baseurl }}/assets/images/bandeiras/espanha.png" />   Español</a>
                    <a class="dropdown-item" href="{{ site.baseurl }}/pt/sobre.html"><img src="{{ site.baseurl }}/assets/images/bandeiras/brasil.png" />   Português</a>
                    </div>
				</li>
			</ul>
		</div>
	</div>
</nav>
