{% assign tmp_dados = "recomendacoes_" | append: page.lang %}
{% assign tmp_lang = site.data.[tmp_dados].[page.tipo] %}

<div class="container">
	<h2 class="heading-observacao">{{tmp_lang.pag}}</h2>

	<div class="row">
		<div class="col-12">
			<p class="mb-4">{{tmp_lang.texto}}</p>
		</div>
		<div class="col-12 mb-4">
			<div style="height: 200px; background-repeat: no-repeat; background-attachment: inherit; background-position: center; background-image: url('{{tmp_lang.imagem}}');"></div>
		</div>
		<div class="col-12 col-md-6">
			{% for item_esq in tmp_lang.dicas_esquerdas %}
				{% if item_esq.assunto != false %}
					<h4 class="h2-observacao mt-4 mt-md-0">■ {{item_esq.assunto}}</h4>
				{% endif %}

				<p>{{item_esq.texto}}</p>

				{% for item_numesq in item_esq.step %}
					<p>{{item_numesq.num}}. {{item_numesq.texto}}</p>
				{% endfor %}
			{% endfor %}
		</div>
		<div class="col-12 col-md-6">
			{% for item_dir in tmp_lang.dicas_direitas %}
				{% if item_dir.assunto != false %}
					<h4 class="h2-observacao mt-4 mt-md-0">■ {{item_dir.assunto}}</h4>
				{% endif %}
					
				<p>{{item_dir.texto}}</p>
				
				{% for item_numdir in item_dir.step %}
					<p>{{item_numdir.num}}. {{item_numdir.texto}}</p>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>