{% assign tmp_dados = "referencias_" | append: page.lang %}
{% assign tmp_lang = site.data[tmp_dados] %}

<div class="container">
	<h2 class="heading-observacao">{{tmp_lang.pag}}</h2>

	<p><h5><strong>{{tmp_lang.inicio.assunto}}</strong></h5></p>
	<p>{{tmp_lang.inicio.paragrafor1}}</p>
	<p>{{tmp_lang.inicio.paragrafor2}}</p>
	<ul>
	{% for item_lista in tmp_lang.inicio.lista %}
		<li>{{item_lista.texto}}</li>
	{% endfor %}
	</ul>
	<p>{{tmp_lang.inicio.paragrafor3}}</p>
	<p>{{tmp_lang.inicio.paragrafor4}}</p>
	{% for item_step in tmp_lang.inicio.step %}
		<p class="mb-0"><b>{{item_step.num}}. {{item_step.assunto}}</b></p>
		<p>{{item_step.texto}}</p>
	{% endfor %}
	<div class="row">
		<div class="col-12 col-md-6 text-center">
			{% for item_vid_in_esq in tmp_lang.inicio.videos_esq %}
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{item_vid_in_esq.link}}" allowfullscreen></iframe>
				</div>
				<p>{{item_vid_in_esq.texto}}</p>
			{% endfor %}
		</div>
		<div class="col-12 col-md-6 text-center">
			{% for item_vid_in_dir in tmp_lang.inicio.videos_dir %}
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{item_vid_in_dir.link}}" allowfullscreen></iframe>
				</div>
				<p>{{item_vid_in_dir.texto}}</p>
			{% endfor %}
		</div>
	</div>

	<!-- ARTIGOS -->
	<h2 class="mt-4">{{tmp_lang.artigos.assunto}}</h2>
	<p>{{tmp_lang.artigos.texto}}</p>
	{% for item_art in tmp_lang.artigos.dados %}
		<p>{{item_art.texto}}</p>
	{% endfor %}

	<!-- MIDIAS -->
	<h2 class="mt-4">{{tmp_lang.midias.assunto}}</h2>
	{% for item_mid in tmp_lang.midias.dados %}
		<p><a class="text-link" target="_blank" href="{{item_mid.link}}">{{item_mid.texto}}</a></p>
	{% endfor %}

	<!-- WEBNAR -->
	<h2 class="mt-4">{{tmp_lang.webnar.assunto}}</h2>
	{% for item_web in tmp_lang.webnar.dados %}
		<p><a class="text-link" target="_blank" href="{{item_web.link}}">{{item_web.texto}}</a></p>
	{% endfor %}

	<!-- REPORTAGENS -->
	<h2 class="mt-4">{{tmp_lang.reportagens.assunto}}</h2>
	<div class="row">
		<div class="col-12 col-md-6">
			{% for item_rep_esq in tmp_lang.reportagens.dados_esquerdo %}
				<p class="mb-0"><b>{{item_rep_esq.assunto}}</b></p>
				<p class="mb-0">{{item_rep_esq.texto}}</p>
				<p><a class="text-link" target="_blank" href="{{item_rep_esq.link}}">Acesse aqui</a></p>
			{% endfor %}
		</div>
		<div class="col-12 col-md-6">
			{% for item_rep_dir in tmp_lang.reportagens.dados_direito %}
				<p class="mb-0"><b>{{item_rep_dir.assunto}}</b></p>
				<p class="mb-0">{{item_rep_dir.texto}}</p>
				<p><a class="text-link" target="_blank" href="{{item_rep_dir.link}}">Acesse aqui</a></p>
			{% endfor %}
		</div>
	</div>

	<!-- LEITURAS -->
	<h2 class="mt-4">{{tmp_lang.leituras.assunto}}</h2>
	<div class="row">
		<div class="col-12 col-md-6">
			{% for item_let_esq in tmp_lang.leituras.dados_esquerdo %}
				<p><a class="text-link" target="_blank" href="{{item_let_esq.link}}">{{item_let_esq.texto}}</a></p>
			{% endfor %}
		</div>
		<div class="col-12 col-md-6">
			{% for item_let_dir in tmp_lang.leituras.dados_direito %}
				<p><a class="text-link" target="_blank" href="{{item_let_dir.link}}">{{item_let_dir.texto}}</a></p>
			{% endfor %}
		</div>
	</div>

	<!-- VIDEOS -->
	<h2 class="mt-4">{{tmp_lang.videos.assunto}}</h2>
	<div class="row">
		<div class="col-12 col-md-6 text-center">
			{% for item_vid_esq in tmp_lang.videos.dados_esquerdo %}
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{item_vid_esq.link}}" allowfullscreen></iframe>
				</div>
				<p>{{item_vid_esq.texto}}</p>
			{% endfor %}
		</div>
		<div class="col-12 col-md-6 text-center">
			{% for item_vid_dir in tmp_lang.videos.dados_direito %}
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{item_vid_dir.link}}" allowfullscreen></iframe>
				</div>
				<p>{{item_vid_dir.texto}}</p>
			{% endfor %}
		</div>
	</div>

	<!-- LEITURAS -->
	<h2 class="mt-4">{{tmp_lang.nucleos.assunto}}</h2>
	<div class="row">
		<div class="col-12 col-md-6">
			{% for item_num_esq in tmp_lang.nucleos.dados_esquerdo %}
				<p><a class="text-link" target="_blank" href="{{item_num_esq.link}}">{{item_num_esq.texto}}</a></p>
			{% endfor %}
		</div>
		<div class="col-12 col-md-6">
			{% for item_num_dir in tmp_lang.nucleos.dados_direito %}
				<p><a class="text-link" target="_blank" href="{{item_num_dir.link}}">{{item_num_dir.texto}}</a></p>
			{% endfor %}
		</div>
	</div>
</div>