<div class="container">
    <!-- vars -->
	{% include _mapeamento/vars.html %}
    <!-- /vars -->

	<h2 class="heading-observacao">{{i18n.page_title[lang]}}</h2>

    <!-- form paises -->
	{% include _mapeamento/select.html %}
    <!-- /form paises -->

    {% if page.map == "map_brasil" %}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#universities" role="tab">{{i18n.higher_education[lang]}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#schools" role="tab">{{i18n.basic_education[lang]}}</a>
        </li>
    </ul>
    {% endif %}

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="universities" role="tabpanel">
            <!-- universities -->
            {% assign id_map = "mapa" %}
            {% assign id_table = "tableData" %}
            {% assign id_barchart = "barChart" %}
            {% assign id_barchart_components = "barChartComponents" %}
            {% assign label = i18n.universities[lang] %}
            {% assign dados = universidades %}


            {% include _mapeamento/conteudo.html %}
            <!-- /universities -->
        </div>
        <div class="tab-pane fade show active" id="schools" role="tabpanel">
            <!-- schools -->
            {% assign id_map = "mapSchools" %}
            {% assign id_table = "tableDataSchools" %}
            {% assign id_barchart = "barChartSchools" %}
            {% assign id_barchart_components = "barChartComponentsSchools" %}
            {% assign label = i18n.schools[lang] %}

            {% assign count_google = count_google_schools %}
            {% assign count_microsoft = count_microsoft_schools %}
            {% assign count_others = count_others_schools %}
            {% assign dados = escolas %}

            {% include _mapeamento/conteudo.html %}
            <!-- /schools -->
        </div>
    </div>
    
</div>