{% assign tmp_lang = site.data.contato.[page.lang] %}

<div class="container">
	<h2 class="heading-observacao">{{tmp_lang.pag}}</h2>

	<div class="row">
		<div class="col-12 col-md-6">
			<form action="">
				<div class="form-group">
					<label for="">{{tmp_lang.label1}}</label>
					<input type="text" class="form-control form-control-lg" id="name" aria-describedby="" required>
				</div>
				<div class="form-group">
					<label for="">{{tmp_lang.label2}}</label>
					<input type="text" class="form-control form-control-lg" id="email" aria-describedby="" required>
				</div>
				<div class="form-group">
					<label for="">{{tmp_lang.label4}}</label>
					<input type="text" class="form-control form-control-lg" id="subject" aria-describedby="" required>
				</div>
				<div class="form-group">
					<label for="">{{tmp_lang.label3}}</label>
					<textarea class="form-control form-control-lg" id="text" required></textarea>
				</div>
				<input class="btn btn-lg btn-block btn-secondary" value="{{tmp_lang.btn}}" onclick="sendMail(); return false">
			</form>
		</div>
		<div class="col-12 col-md-6">
			<h2 class="h2-observacao mt-4 mt-md-0">{{tmp_lang.assunto1}}</h2>
			<p>{{tmp_lang.paragrafo1}}</p>
			<h2 class="h2-observacao mt-4">{{tmp_lang.assunto2}}</h2>
			<p>{{tmp_lang.paragrafo2}}</p>
		</div>
	</div>
</div>
<script>
function sendMail() {
    var link = "mailto:contato@aberta.org.br"
             + "&subject=" + encodeURIComponent(document.getElementById('subject').value)
             + "&body=" + encodeURIComponent(document.getElementById('name').value) + ' (' + encodeURIComponent(document.getElementById('email').value) + '):%0D%0A%0D%0A' + encodeURIComponent(document.getElementById('text').value);
//     ;
    
    window.location.href = link;
}
</script>
