<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/favicon/apple-icon-180x180.png">
<link rel="icon" sizes="192x192"  href="{{ site.baseurl }}/assets/images/favicon/android-icon-192x192.png">
<link rel="icon" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon/favicon-32x32.png">
<link rel="icon" sizes="96x96" href="{{ site.baseurl }}/assets/images/favicon/favicon-96x96.png">
<link rel="icon" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#343a40">

<meta name=”creator” content=”xpcassio@gmail.com”>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index">
