---
layout: default_lang
title: Educação Vigiada - Mapping - South America
lang: en
map: map_americadosul
tipo: total
---

<div class="container">
    <h2 class="heading-observacao">Under construction!</h2>

    <div class="center">
        <img src="/assets/images/obras.gif" />
    </div>
    <br>
    <p>We're updating the map data. <b>Release soon</b>.</p>
    <p>In the meantime, access the report with the latest data launched at the Brazil Internet Forum 14 (FIB 2024), <a href="https://doi.org/10.5281/zenodo.11243189">Mapeamento da plataformização da educação pública superior na África e na América Latina</a> (in Portuguese; English version soon).</p>
</div>
