---
layout: default_lang
title: Educação Vigiada - Acerca
lang: es
---

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="heading-observacao">Acerca</h2>
		</div>
		<div class="col-md-8 col-sm-6">
            <p><b>Observatório Educação Vigiada</b> es una iniciativa de divulgación científica de investigadores académicos y organizaciones sociales que tiene como objetivo recopilar y difundir información sobre la plataforma de educación pública en Brasil y América del Sur y fomentar un debate en la sociedad sobre sus impactos sociales y educativos. Es una acción de la Iniciativa de Educación Abierta (IEA).</p>
            <p>El proyecto se movilizó a partir de la escasez de información sobre el desempeño de las grandes empresas tecnológicas - en particular las que se valorizan a través de la recolección, procesamiento y comercialización de datos de los usuarios de sus plataformas y servicios digitales - en la oferta de tecnologías educativas y espacio en centros de datos - a instituciones educativas públicas en Brasil, lo que dificulta los esfuerzos de investigación, la discusión pública sobre los riesgos y las decisiones de los administradores sobre el futuro de las tecnologías en sus redes e instituciones.</p>
            <p>Para solucionar este problema, creamos un <a href="https://gitlab.com/ccsl-ufpa/get-mx-universities/">software</a> capaz de identificar la ubicación de almacenamiento de los correos electrónicos oficiales de las instituciones educativas públicas y, así, pudimos dimensionar y mapear los acuerdos realizados entre estas y las  empresas de tecnología. El software pasó por un proceso de validación cualitativa a través de solicitudes a la  Ley de Acceso a la Información.</p>
        </div>
        <div class="col-md-4 col-sm-6" align="center">
            <img src="{{ site.baseurl }}/assets/images/gafam-latam.png" />
        </div>
        <div class="col-12">
            <h2 class="heading-observacao">Historia del Proyecto</h2>
        </div>
        <div>
            <p>En 2019, con la ayuda de la Fundación de Derechos Digitales, recopilamos datos de 244 dominios de correo electrónico de instituciones públicas de educación superior y departamentos estatales de educación en Brasil.</p>
            <p>En 2020, con financiamiento interno de la Iniciativa de Educación Abierta, mapeamos ciudades con más de 500.000 habitantes en Brasil.</p>
            <p>Ya en 2021, con la asistencia de la Red Latinoamericana de Estudios sobre Vigilancia, Tecnología y Sociedad (LAVITS) y en cooperación con investigadores de la Fundación InternetBolivia.org, Grupo de Investigación en Ingeniería de Software y Nuevas Tecnologías - GISNET-FUTCO - Colombia y desde la Cátedra UNESCO de Educación Abierta de la Universidad de la República de Uruguay, mapeamos 550 dominios institucionales de correo electrónico de 448 instituciones públicas de educación superior en todos los países de América del Sur.</p>
		</div>
	</div>
</div>
