---
layout: default_lang
title: Educação Vigiada - Mapeamento - América do sul
lang: pt
map: map_americadosul
tipo: total
---

<div class="container">
    <h2 class="heading-observacao">Estamos em obras!</h2>

    <div class="center">
        <img src="/assets/images/obras.gif" />
    </div>
    <br>
    <p>Estamos atualizando os dados do mapa. <b>Lançamento em breve</b>.</p>
    <p>Enquanto isso acesso o relatório com os dados mais recentes lançado no Fórum da Internet do Brasil 14 (FIB 2024), <a href="https://doi.org/10.5281/zenodo.11243189">Mapeamento da plataformização da educação pública superior na África e na América Latina</a>.</p>
</div>
