---
layout: default_lang
title: Educação Vigiada - Sobre
lang: pt
---

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="heading-observacao">Sobre</h2>
		</div>
		<div class="col-md-8 col-sm-6">
            <p><b>Observatório Educação Vigiada</b> é uma iniciativa de divulgacao científica de pesquisadores acadêmicos e de organizações sociais que tem como objetivo coletar e divulgar informações sobre a plataformização da educação pública no Brasil e na América do Sul e incentivar um debate na sociedade em relação aos seus impactos sociais e educacionais. É uma ação da Iniciativa Educação Aberta.</p>
            <p>O crescimento na oferta de serviços e softwares informacionais às instituições públicas de ensino de forma “gratuita” pelas maiores empresas de tecnologia de dados do mundo – representados aqui pelo acrônimo GAFAM (Google, Apple, Facebook, Amazon, Microsoft) – tem em grande parte, como contrapartidas, a coleta, o tratamento, a utilização e a comercialização de dados comportamentais de seus usuários. Trata-se de uma relação obscura e que leva a um grande potencial de violação da privacidade de alunos, professores, gestores e outros atores escolares.</p>
            <p>Esse obscurecimento das relações entre essas empresas e seus usuários reflete em uma grande assimetria em relação ao vetor da coleta de dados. As grandes empresas de dados têm, potencialmente, acesso a uma grande quantidade de dados de instituições públicas — desde dados pessoais de alunos (incluindo crianças e adolescentes), professores e funcionários, dados comportamentais extraídos de aplicativos educacionais, dados de rendimento escolar dos alunos e professores — até dados de comunicação institucional e de pesquisa. Por outro lado, pouco sabemos sobre a atuação e dos processos desse modelo de negócio.</p>
            <p>Essa escassez de informações sobre a atuação das grandes empresas de tecnologia - em especial aquelas que se valorizam através da coleta, tratamento e comercialização dos dados dos usuários de suas plataformas e serviços digitais - na oferta de tecnologias educacionais e espaço em data centers às instituições públicas, dificulta os esforços de pesquisa, a discussão pública sobre os riscos e as decisões dos gestores sobre o futuro das tecnologias em suas redes e instituições.</p>
            <p>Para solucionar esse problema, criamos um <a href="https://gitlab.com/ccsl-ufpa/get-mx-universities/">software</a> capaz de identificar o local de armazenamento dos e-mails oficiais de instituições públicas de ensino e, assim, podemos dimensionar e mapear os acordos realizados entre elas e estas empresas de tecnologia. Para completar a análise, validamos os resultados com informações de requisições de informação via Lei de Acesso à Informação para afirmarmos que eles apontam para acordos de utilização dos softwares educacionais das empresas.</p>
        </div>
        <div class="col-md-4 col-sm-6" align="center">
            <img src="{{ site.baseurl }}/assets/images/gafam-latam.png" />
        </div>
        <div class="col-12">
            <h2 class="heading-observacao">Histórico do Projeto</h2>
        </div>
        <div>
            <p>Nossas pesquisas sobre a plataformização da educação pública e sua relação com o mercado de dados tiveram início em 2016, ainda como pesquisadores do Laboratório de Estudos Avançados em Jornalismo (Labjor/Unicamp) e do Núcleo de Informática Aplicada à Educação (NIED-Unicamp).</p>
            <p>Em 2018, começamos a discutir as possibilidades metodológicas de coleta de dados sobre a atuação das grandes plataformas educacionais no país, que resultou na produção do script e na publicação do artigo "<a href="http://lavits.org/wp-content/uploads/2019/12/Cruz_Saraiva_Amiel-2019-LAVITS-1.pdf">Coletando dados sobre o Capitalismo de Vigilância nas instituições públicas do ensino superior do Brasil</a>" no VI Simpósio Internacional LAVITS.</p>
            <p>Em 2019, com auxílio da Fundação Derechos Digitales, coletamos dados de 244 domínios de e-mail das instituições públicas de ensino superior e secretarias de educação estaduais no Brasil.</p>
            <p>Em 2020, com verba interna da Iniciativa Educação Aberta, mapeamos cidades com mais de 500.000 habitantes no Brasil.</p>
            <p>Já em 2021, com auxílio da Rede Latino-Americana de Estudos sobre Vigilância, Tecnologia e Sociedade (LAVITS) e em cooperação com pesquisadores da Fundación InternetBolívia.org, do Grupo de Investigaciónen Ingeniería de Software y Nuevas Tecnologías – GISNET-FUTCO – Colômbia e da Cátedra da Unesco para a Educação Aberta da Universidade da República do Uruguai, mapeamos 550 domínios institucionais de e-mail de 448 instituições públicas de ensino superior em todos os países da América do Sul.</p>
		</div>
	</div>
</div>
