<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include seo.html %}

	<title>{{ page.title }}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/estilo.css">
</head>
<body class="full-page">
	{{ content }}

	<!-- JS -->
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery-3.5.1.slim.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
