<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{% include seo.html %}

	<title>{{ page.title }}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fontawesome.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/brands.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/solid.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/leaflet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/estilo.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.0/dist/leaflet-search.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.0/dist/leaflet-search.mobile.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.3/css/rowGroup.dataTables.min.css">
    
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@1"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/leaflet.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/assets/js/leaflet-providers.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.0/dist/leaflet-search.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.1.3/js/dataTables.rowGroup.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/mastodonShare.js"></script>

</head>
<body class="d-flex flex-column h-100">
	<header>
		{% include menu_lang.html %}
	</header>

	<main role="main" class="flex-shrink-0 mb-5">
		{{ content }}
	</main>

	{% include footer_lang.html %}
</body>
</html>
