---
layout: default_lang
lang: pt
---

<div class="container">
	<h2 class="heading-observacao">{{ page.title }}</h2>
	<p><small>{{ page.date | date: "%d/%m/%Y" }}</small></p>
	{{ page.content | markdownfy }}
	<p><hr></p>
	<ul class="list-unstyled">
	<li>
		<div class="text">
		<a href="{{ site.url }}{{ site.base }}{{ page.url }}.html" title="Link da notícia"><i class="fa-solid fa-link"></i></a>&nbsp;

		<a class="mastodon-share" href="#" data-title="{{ page.title }}" data-href="{{ site.url }}{{ site.base }}{{ page.url }}.html"><b><i class="fa-brands fa-mastodon"></i></b></a>&nbsp;

		<a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url }}{{ site.base }}{{ page.url }}.html" title="Compartilhe no Twitter" target="_blank"><b><i class="fa-brands fa-twitter"></i></b></a>&nbsp;

		<a href="https://t.me/share/url?url={{ site.url }}{{ site.base }}{{ page.url }}.html&text={{ page.title }}" title="Compartilhe no Telegram" target="_blank"><i class="fa-brands fa-telegram"></i></a>&nbsp;

		<a href="https://api.whatsapp.com/send?text={{ page.title }} {{ site.url }}{{ site.base }}{{ page.url }}.html" data-action="share/whatsapp/share" title="Compartilhe no Whatsapp" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>&nbsp;

		<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.base }}{{ page.url }}.html" title="Compartilhe no Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>&nbsp;

		<a href='mailto:?subject={{ page.title }}&body=Educação Vigiada - {{ page.title }}%0D%0A%0D%0AVeja em {{ site.url }}{{ site.base }}{{ page.url }}.html' title="Compartilhe por E-mail" target="_blank"><i class="fa-regular fa-envelope"></i></a>&nbsp;
		</p>
		</div>
	</li>
	</ul>
</div>
