<!-- mapa openstreetmap -->
<div class="row">
    <div class="col-12 mt-3"> <!-- col-lg-8 -->
        <div id="{{id_map}}" class="w-100 map-educacao"></div>
    </div>
</div>
<!-- /mapa openstreetmap -->

<!-- texto descritivo -->
<h2 class="heading-observacao">{{map.country[lang]}}</h2>
<div class="row">
    <div class="col-12">
        {% if id_map == "mapSchools" %}
            {{map.description_basic_education[lang]}}
        {% else %}
            {{map.description[lang]}}
        {% endif %}
    </div>
</div>
<!-- /texto descritivo -->

<!-- graficos e dados -->
<h2 class="heading-observacao">{{i18n.data[lang]}}</h2>
<p>{{i18n.data-text[lang]}}</p>
<div class="row">
    <div class="col-12 mt-3"> <!-- col-lg-4 -->
        <div class="row">
            <div class="col-12 col-md-6"> <!-- col-lg-12 -->
                <h5 class="mt-3">{{ i18n.label_pie_chart[lang] }}</h5>
                <div class="my-3 w-100">
                    <canvas id="{{id_barchart}}" width="200"></canvas>
                </div>
            </div>
            <div class="col-12 col-md-6"> <!-- col-lg-12 -->
                <h5 class="mt-3">{{ i18n.label_bar_chart[lang] }}</h5>
                <div class="my-3 w-100">
                    <canvas id="{{id_barchart_components}}" width="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- /graficos e dados -->

<!-- total de instituições analisadas -->
<div class="row">
    <b>{{i18n.total[lang]}}</b>: {{count_google | plus: count_microsoft | plus: count_others}}
</div>
<!-- /total de instituições analisadas-->

<!-- tabela de dados -->
<h2 class="heading-observacao">{{i18n.table[lang]}}</h2>
{% if id_map == "mapSchools" %}
    <p>{{i18n.table-text-basic-education[lang]}}</p>
{% else %}
    <p>{{i18n.table-text[lang]}}</p>
{% endif %}
<table id="{{id_table}}" class="table table-hover" style="width:100%">
    <thead>
        <tr>
        <th scope="col">{{label}}</th>
        <th scope="col">
            {% if id_map == "mapSchools" %}
                {{i18n.secretaries[lang]}}
            {% else %}
                {{i18n.depto-faculty[lang]}}
            {% endif %}
        </th>
        <th scope="col">E-mail</th>
        <th scope="col">GAFAM?</th>
        <th scope="col">{{i18n.provider[lang]}}</th>
        </tr>
    </thead>
    <tbody id="tableContent">
    </tbody>
</table>
<!-- /tabela de dados -->

{% include _mapeamento/js.html %}
