<script>
    $(document).ready(function(){
        var tmp_tipo = '{{page.tipo}}';
    
        // Icons to the map
        var LeafIcon = L.Icon.extend({options: {iconSize:[12, 12]}});
            greenIcon = new LeafIcon({iconUrl: '{{ site.baseurl }}/assets/images/circle_green.png'}),
            redIcon = new LeafIcon({iconUrl: '{{ site.baseurl }}/assets/images/circle_red.png'});
    
        // Layers to the map
        // GAFAM/Non-GAFAM layers
        var nonGafamLayer = new L.LayerGroup();
        var gafamLayer = new L.LayerGroup();
        
        var contentLayers = {
            "<img width=16% src='{{ site.baseurl }}/assets/images/circle_green.png' /> {{ i18n.nongafam[lang] }}": nonGafamLayer,
            "<img width=16% src='{{ site.baseurl }}/assets/images/circle_red.png' /> GAFAM": gafamLayer
        };
        
        // Combine GAFAM/Non-GAFAM layers to search
        var markersLayer = new L.LayerGroup();
        
        var controlSearch = new L.Control.Search({
            layer: markersLayer,
            initial: false,
            zoom: 12
        });
        
        // Initialize the map on the "map" div with a given center and zoom
        var map = L.map('{{id_map}}', {
            center: ['{{map.lat}}', '{{map.lng}}'],
            zoom: '{{map.zoom}}',
            layers: [nonGafamLayer, gafamLayer]
        });
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);
        
        // Add layers to the map
        map.addLayer(nonGafamLayer);
        map.addLayer(gafamLayer);
        map.addLayer(markersLayer);
        
        // Add controls to the map
        L.control.layers(null, contentLayers).addTo(map);
        map.addControl(controlSearch);
    
        var tableData = $('#{{id_table}}').DataTable({
            rowGroup: {
                dataSrc: '0'
            },
            "language": {
                {% if page.lang == "pt" %}
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                {% elsif page.lang == "es" %}
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                {% else %}
                "url": ""
                {% endif %}
            },
            columnDefs: [
                { targets: 3,
                render: function(data) {
                    var stringGAFAM = (data == "{{ site.baseurl }}/assets/images/circle_green.png" ? "{{ i18n.nongafam[lang] }}" : "GAFAM");
                    return '<img src="'+data+'" /> '+ stringGAFAM;
                }
                }   
            ]
        });
        
        {% if page.map == "map_americadosul" %}
        var tmp_json_universidades = [
            {% for i in site.data.maps %}
                {% for j in i[1].universidades %}
                {
                    "name": "{{j.name}}",
                    "lat": "{{j.lat}}",
                    "lon": "{{j.lon}}",
                    "provider": "{{j.provider}}",
                    "emails": [
                    {% for k in j.emails %}
                        {
                            "name": "{{k.name}}",
                            "url": "{{k.url}}",
                            "provider": "{{k.provider}}"
                        },
                    {% endfor %}
                    ]
                },
                {% endfor %}
            {% endfor %}
        ];
        
        //fill table data
        tableData.clear();
        {% for i in site.data.maps %}
        {% for j in i[1].universidades %}
        {% for k in j.emails %}
        tableData.row.add(["{{j.name}}", "{{k.name}}", "{{k.url}}", ("{{k.provider}}" == "Others" ? "{{ site.baseurl }}/assets/images/circle_green.png" : "{{ site.baseurl }}/assets/images/circle_red.png"),"{{k.provider}}"]);
        {% endfor %}
        {% endfor %}
        {% endfor %}
        tableData.draw();
        
        {% else %}
        var tmp_json_universidades = {{dados | jsonify}};
        
        //fill table data
        tableData.clear();
        {% for j in dados %}
        {% for k in j.emails %}
        tableData.row.add(["{{j.name}}", "{{k.name}}", "{{k.url}}", ("{{k.provider}}" == "Others" ? "{{ site.baseurl }}/assets/images/circle_green.png" : "{{ site.baseurl }}/assets/images/circle_red.png"),"{{k.provider}}"]);
        {% endfor %}
        {% endfor %}
        tableData.draw();
        {% endif %}
        
        // Generating universities
        for (var i = 0; i < tmp_json_universidades.length; i++) {
            tmp_json_universidades[i]
            marker = new L.marker([tmp_json_universidades[i].lat, tmp_json_universidades[i].lon], {icon: (tmp_json_universidades[i].provider == "Others" ? greenIcon : redIcon), title: tmp_json_universidades[i].name}, ).bindPopup(formatPopup(tmp_json_universidades[i]));
            
            if (tmp_json_universidades[i].provider == "Others") {
                nonGafamLayer.addLayer(marker);
            } else {
                gafamLayer.addLayer(marker);
            }
        }
        
        // Combine GAFAM/Non-GAFAM layers
        markersLayer.addLayer(nonGafamLayer);
        markersLayer.addLayer(gafamLayer);
        
        // Function to enable/disable search on active layers
        var gafamLayerSearch = true;
        var nonGafamLayerSearch = true;
        map.on({
            overlayadd: function(e) {
                if (e.layer == gafamLayer) {
                    gafamLayerSearch = true;
                } else {
                    nonGafamLayerSearch = true;
                }
                
                if (gafamLayerSearch && nonGafamLayerSearch) {
                    controlSearch.setLayer(markersLayer);
                } else if (gafamLayerSearch && !nonGafamLayerSearch) {
                    controlSearch.setLayer(gafamLayer);
                } else if (!gafamLayerSearch && nonGafamLayerSearch) {
                    controlSearch.setLayer(nonGafamLayer);
                } else {
                    controlSearch.setLayer(null);
                }
            },
            overlayremove: function(e) {
                if (e.layer == gafamLayer) {
                    gafamLayerSearch = false;
                } else {
                    nonGafamLayerSearch = false;
                }
                
                if (gafamLayerSearch && !nonGafamLayerSearch) {
                    controlSearch.setLayer(gafamLayer);
                } else if (!gafamLayerSearch && nonGafamLayerSearch) {
                    controlSearch.setLayer(nonGafamLayer);
                } else {
                    controlSearch.setLayer(null);
                }
            }
        });
    
        var pieChart = document.getElementById('pieChart'),
            pieChartComponents = document.getElementById('pieChartComponents'),

            barChart = document.getElementById('{{id_barchart}}'),
            barChartComponents = document.getElementById('{{id_barchart_components}}');
    
        // Register the plugin to all charts:
        Chart.plugins.register(ChartDataLabels);
    
        // Pie
        var tmp_gafam = parseInt({{count_google}} + {{count_microsoft}}),
            tmp_outros = parseInt('{{count_others}}'),
            tmp_perc_google = (({{count_google}} * 100) / (tmp_gafam + tmp_outros)).toFixed(2),
            tmp_perc_microsoft = (({{count_microsoft}} * 100) / (tmp_gafam + tmp_outros)).toFixed(2),
            tmp_perc_garfam = ((tmp_gafam * 100) / (tmp_gafam + tmp_outros)).toFixed(2),
            tmp_perc_outros = ((tmp_outros * 100) / (tmp_gafam + tmp_outros)).toFixed(2);
    
        // Bar
        var barData = {
            type: 'bar',
            data: {
                labels: ['{{label}}'],
                datasets: [
                    {
                        label: 'GAFAM',
                        data: [tmp_gafam],
                        backgroundColor: ['#b22222'],
                        borderColor: ['##b22222'],
                        borderWidth: 1
                    },
                    {
                        label: '{{i18n.others[lang]}}',
                        data: [{{count_others}}],
                        backgroundColor: ['#008000'],
                        borderColor: ['#008000'],
                        borderWidth: 1
                    }
                ],
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                plugins: {
                    datalabels: {
                        display: true,
                        anchor:'end',
                        align: 'top',
                        color: '#000',
                        font: {
                            size: 16,
                        },
                        formatter: function(value, context) {
                            return value + ' (' + (value/(tmp_gafam + tmp_outros) * 100).toFixed(2) + '%)';
                        }
                    }
                }
            }
        }
        new Chart(barChart, barData);
        
        // Bar
        var barDataComponents = {
            type: 'bar',
            data: {
                labels: ['{{label}}'],
                datasets: [
                    {
                        label: 'Google',
                        data: [{{count_google}}],
                        backgroundColor: ['#eb5554'],
                        borderColor: ['#eb5554'],
                        borderWidth: 1
                    },
                    {
                        label: 'Microsoft',
                        data: [{{count_microsoft}}],
                        backgroundColor: ['#ec9a9c'],
                        borderColor: ['#ec9a9c'],
                        borderWidth: 1
                    },
                    {
                        label: '{{i18n.others[lang]}}',
                        data: [{{count_others}}],
                        backgroundColor: ['#008000'],
                        borderColor: ['#008000'],
                        borderWidth: 1
                    }
                ],
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    datalabels: {
                        display: true,
                        anchor:'end',
                        align: 'top',
                        color: '#000',
                        font: {
                            size: 16,
                        },
                        formatter: function(value, context) {
                            return value + ' (' + (value/(tmp_gafam + tmp_outros) * 100).toFixed(2) + '%)';
                        }
                    }
                }
            }
        }
        new Chart(barChartComponents, barDataComponents);
    });
    
    function formatPopup(i) {
        var greenIcon = '{{ site.baseurl }}/assets/images/circle_green.png';
        var redIcon = '{{ site.baseurl }}/assets/images/circle_red.png';
        
        var text = "<b>" + i.name + "</b>";
        text += "<br><b>{{i18n.provider[lang]}}</b>: " + i.provider;
        if (i.provider == "Others") {
            text += " <img width=7% src='" + greenIcon + "' /><br>";
        } else {
            text += " <img width=7% src='" + redIcon + "' /><br>";
        }
        
        text += "<br><b>{{i18n.providers[lang]}}:</b><br>";
        for (var j = 0; j < i.emails.length; j++) {
            text += "<b>" + i.emails[j].name + "</b>";
            text += "<br><b>E-mail</b>: " + i.emails[j].url;
            text += "<br><b>{{i18n.provider[lang]}}</b>: " + i.emails[j].provider;
            if (i.emails[j].provider == "Others") {
                text += " <img width=7% src='" + greenIcon + "' /><br>";
            } else {
                text += " <img width=7% src='" + redIcon + "' /><br>";
            }
            text += "<br>";
        }
        
        return text;
    }

    $(document).ready(function(){
        setTimeout(() => {
            $("#schools").removeClass("active");
        }, 100)
    });
    </script>