<div class="row">
	<div class="col-12 col-md-10">
		<div class="form-group">
			<select class="form-control form-control-lg" id="idMapPais">
				<option value="">{{ i18n.select_country[lang] }}</option>
				{% for item in site.data.maps.map_select.pais %}
					{% case page.lang %}
						{% when "pt" %}
						<option value="{{item.link_pt}}">{{item.texto_pt}}</option>
						{% when "en" %}
						<option value="{{item.link_en}}">{{item.texto_en}}</option>
						{% else %}
						<option value="{{item.link_es}}">{{item.texto_es}}</option>
					{% endcase %}
				{% endfor %}
			</select>
		</div>
	</div>
	<!-- div class="col-12 col-md-5">
		<div class="form-group">
			<select class="form-control form-control-lg" id="idMapLocal">
				<option value="" selected>Selecione a instituição</option>
				{% for item in site.data.map_select.local %}
					{% case page.lang %}
						{% when "pt" %}
						<option value="{{item.link_pt}}">{{item.texto_pt}}</option>
						{% when "en" %}
						<option value="{{item.link_en}}">{{item.texto_en}}</option>
						{% else %}
						<option value="{{item.link_es}}">{{item.texto_es}}</option>
					{% endcase %}
				{% endfor %}
			</select>
		</div>
	</div -->
	<div class="col-12 col-md-2">
		<button type="button" class="btn btn-lg btn-block btn-secondary" id="idBotIr">{{ i18n.generate_map[lang] }}</button>
	</div>
</div>

<script>
$(document).ready(function(){
	// INICIANDO TUDO
	var tmp_lang = '{{page.lang}}',
		tmp_url = '{{page.url}}'.split('/');

	// console.log('HERE!!');
	// console.log(tmp_lang);
	// console.log(tmp_url);
	// console.log('/'+tmp_url[2]+'/'+tmp_url[3]);

	// VERIFICANDO O PAIS
	if (tmp_url[3] == '')
		$('#idMapPais').val('');
	else
		$('#idMapPais').val('/'+tmp_url[2]+'/'+tmp_url[3]);

	// VERIFICANDO O LOCAL
	{% case page.lang %}
    {% when "pt" %}
    var local = '{{ site.data.map_select.local.link_pt }}';
    {% when "en" %}
    var local = '{{ site.data.map_select.local.link_en }}';
    {% else %}
    var local = '{{ site.data.map_select.local.link_es }}';
    {% endcase %}
// 	if (typeof tmp_url[4] == 'undefined' || tmp_url[4] == '')
// 		$('#idMapLocal').val('');
// 	else
// 		$('#idMapLocal').val('/'+tmp_url[4].replace('.html',''));

	// BOTAO
	$('#idBotIr').on('click', function(){
		var url = '{{ site.baseurl }}/'+tmp_lang+$('#idMapPais').val()+local;
		if ($('#idMapPais').val() != '')
			window.location.replace(url);
	});
});
</script>
