<!--
    Trecho HTML responsavel por montar as variaveis que contem os dados 
    das paginas de mapeamento
-->

<!--
    Instancia as variaveis
-->
{% assign debug = 0 %}
{% assign flag_schools = 0 %}

{% assign map = site.data.maps[page.map] %}
{% assign lang = page.lang %}
{% assign i18n = site.data.maps.i18n.strings %}

{% assign universidades = map.universidades %}
{% assign escolas = map.escolas %}

{% assign count_google = 0 %}
{% assign count_microsoft = 0 %}
{% assign count_others = 0 %}

{% assign count_google_schools = 0 %}
{% assign count_microsoft_schools = 0 %}
{% assign count_others_schools = 0 %}

<!--
    Incrementa as variaveias de contadores de toda a america do sul
-->
{% if page.map == "map_americadosul" %}
    {% for i in site.data.maps %}
        {% for j in i[1].universidades %}
            {% assign universidades = universidades | append:j %}
            {% if j.provider == "Google" %}
                {% assign count_google = count_google | plus:1 %}
            {% endif %}
            {% if j.provider == "Microsoft" %}
                {% assign count_microsoft = count_microsoft | plus:1 %}
            {% endif %}
            {% if j.provider == "Others" %}
                {% assign count_others = count_others | plus:1 %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    <!--
        Incrementa as variaveis de cada pais
    -->
    {% for j in map.universidades %}
        {% if j.provider == "Google" %}
            {% assign count_google = count_google | plus:1 %}
        {% endif %}
        {% if j.provider == "Microsoft" %}
            {% assign count_microsoft = count_microsoft | plus:1 %}
        {% endif %}
        {% if j.provider == "Others" %}
                {% assign count_others = count_others | plus:1 %}
            {% endif %}
    {% endfor %}

    <!--
        Caso seja brasil precisamos contar as escolas
    -->
    {% if page.map == "map_brasil" %}
        {% for j in map.escolas %}
            {% if j.provider == "Google" %}
                {% assign count_google_schools = count_google_schools | plus:1 %}
            {% endif %}
            {% if j.provider == "Microsoft" %}
                {% assign count_microsoft_schools = count_microsoft_schools | plus:1 %}
            {% endif %}
            {% if j.provider == "Others" %}
                {% assign count_others_schools = count_others_schools | plus:1 %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

<!--debuga as variaveis-->
{% if debug == 1 %}
<strong>map:</strong> {{ map | jsonify }}
<br>---<br>

<strong>lang:</strong>  {{ lang | jsonify }}
<br>---<br>

<strong>i18n:</strong> {{ i18n | jsonify }}
<br>---<br>

<strong>universidades:</strong> {{ universidades | jsonify }}
<br>---<br>

<strong>escolas:</strong> {{ escolas | jsonify }}
<br>---<br>

<strong>count_google:</strong> {{ count_google | jsonify }}
<br>---<br>

<strong>count_microsoft:</strong> {{ count_microsoft | jsonify }}
<br>---<br>

<strong>count_others:</strong> {{ count_others | jsonify }}
<br>---<br>

<strong>count_google_schools:</strong> {{ count_google_schools | jsonify }}
<br>---<br>

<strong>count_microsoft_schools:</strong> {{ count_microsoft_schools | jsonify }}
<br>---<br>

<strong>count_others_schools:</strong> {{ count_others_schools | jsonify }}
<br>---<br>
<!--/debug vars-->
{% endif %}