---
layout: default_lang
title: Educação vigiada - Cartografía - América del Sur
lang: es
map: map_americadosul
tipo: total
---

<div class="container">
    <h2 class="heading-observacao">En fase de construcción!</h2>

    <div class="center">
        <img src="/assets/images/obras.gif" />
    </div>
    <br>
    <p>Estamos actualizando los datos del mapa. <b>Lanzamiento en breve</b>.</p>
    <p>Mientras tanto, acceda al informe con los datos más recientes presentado en el Foro de Internet Brasil 14 (FIB 2024), <a href="https://doi.org/10.5281/zenodo.11243189">Mapeamento da plataformização da educação pública superior na África e na América Latina</a> (en portugués; versión inglesa en breve).</p>
</div>
